html,body{margin:0;padding:0}
body{font: arial,sans-serif;text-align:center; }
p{margin:0 10px 10px}
a{ text-decoration:none; color:white; }
a:hover{ font-weight:bold; color:#c3d6aa ; background-color: #283a10;}

div#header{background-color:black;}
div#header h1{height:50px;line-height:50px;margin:0;padding-left:10px; padding-bottom:20px; color: darkgrey;}
div#header h6{height:50px;line-height:50px;margin:0;padding-right:10px;float:right;width:200px}
div#container{text-align:left; background-color:lightgrey;}
div#content p{line-height:1.4}
div#navigation{background-color:lightgrey;}
div#navigation ul{margin:15px 0; padding:10px; list-style-type:none; background-color:#c3d6aa;}
div#navigation li{margin-bottom:5px;}
div#extra{background:lightgrey; margin:5px}
div#footer{background:black; color: lightgrey; }
div#footer p{margin:0;padding:5px 10px}
div#container{width:700px;margin:0 auto}
div#content{float:left;width:400px}
div#navigation{float:right;}
div#extra{float:right;clear:right;}
div#footer{clear:both;width:100%}
div#hidden{ visibility: hidden; }

.alignleft {
	float: left;
}
.alignright {
	float: right;
  margin:10px 10px 10px
}
